.row{
    @mixin clearfix;
    
    &__gutters{
        margin-right: -65px;
    }
    
    &__gutters > div{
        padding-right: 65px;
    }
    
    &__b-margin-until-medium{
        margin-bottom: 1rem;
    }
    
    @mixin atMedium{
        &__b-margin-until-medium{
            margin-bottom: 0;
        }
        &__col-md-4{
            float: left;
            width: 33.333333%;
            
            &__larger{
                width: 37%;
            }
        }

        &__col-md-8{
            float: left;
            width: 66.666667%;
        }
        
        &__col-md-8-smaller{
            width: 63%;
        }
    }
}